#Aiogram
BOT_USERNAME = @frodtest_bot
BOT_TOKEN = '6830606345:AAGSR5PLWCFHXv8ySdirUywujzVE3NGYccE'
BOT_LINK = 'https://t.me/frodtest_bot'
SUPERUSER = '193085802'
FIRST_GROUP_CHAT = '-4206200020'
SECOND_GROUP_CHAT = '-4235902752'
THIRD_GROUP_CHAT = '-4235902752'

#GMAIL
user = telegram.onboarding.bot@gmail.com
pass = telegrambot1602

#Google Drive
FOLDER_ID = '137TmAAVPX_6Hbxe15wqnbv3ywDnfVkA1'

#Google Sheet
FFA_STUDENTS = 'https://docs.google.com/spreadsheets/d/1F3v6kgvNfxi7cYj_0NROf6DGVRGTi69tkUEV07NBusI/edit?usp=sharing'
FFA_CRYPTO = 'https://docs.google.com/spreadsheets/d/1oUiX1xr72zW6LQ43M-4soXG6vFU_emSPv13DjWGALVY/edit?usp=sharing'
CURATOR_TABLE_TEMPLATE_ID = '1kK2HFzxpNF0H-aOSFdJ8_72slDZ5mI_CiUFl6P0CXhs'
ADMIN_MAIL = 'telegram.onboarding.bot@gmail.com'

#Postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=admin_onbord
POSTGRES_PASSWORD=password
POSTGRES_DB=db_onbording_bot

SQLALCHEMY_DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}